qt3d/examples/qt3d/exampleresources/assets/textures/gold_leaf_waste/gold_leaf_waste_normal.png filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/obj/material-sphere.obj filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/textures/american_walnut_crown_cut/american_walnut_crown_cut_basecolor.png filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/textures/american_walnut_crown_cut/american_walnut_crown_cut_normal.png filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/textures/ceramic_small_diamond/ceramic_small_diamond_normal.png filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/textures/ceramic_tiles_brown_tomato/ceramic_tiles_brown_tomato_basecolor.png filter=lfs diff=lfs merge=lfs -text
qt3d/examples/qt3d/exampleresources/assets/textures/gold_leaf_waste/gold_leaf_waste_basecolor.png filter=lfs diff=lfs merge=lfs -text
qtbase/src/3rdparty/sqlite/sqlite3.c filter=lfs diff=lfs merge=lfs -text
qtbase/tests/auto/other/qcomplextext/data/BidiCharacterTest.txt filter=lfs diff=lfs merge=lfs -text
qtbase/tests/auto/other/qcomplextext/data/BidiTest.txt filter=lfs diff=lfs merge=lfs -text
qtqa/scripts/generic/t/data/raw-logs/qttools-msvc-ambiguous-call.txt filter=lfs diff=lfs merge=lfs -text
qtqa/scripts/generic/t/data/raw-logs/qt5-qtdeclarative-autotest-fail.txt filter=lfs diff=lfs merge=lfs -text
qtqa/scripts/generic/t/data/raw-logs/qtbase-linux-hundreds-of-failures.txt filter=lfs diff=lfs merge=lfs -text
qtqa/scripts/generic/t/data/raw-logs/qtbase-linux-single-flaky-autotest.txt filter=lfs diff=lfs merge=lfs -text
qtvirtualkeyboard/src/plugins/lipi-toolkit/3rdparty/lipi-toolkit/projects/alphanumeric/config/default/nn.mdt filter=lfs diff=lfs merge=lfs -text
qtvirtualkeyboard/src/plugins/openwnn/3rdparty/openwnn/wnnEngine/WnnJpnDic.c filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/net/http/transport_security_state_static.json filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/blink/renderer/devtools/scripts/closure/compiler.jar filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/icu/common/icudtb.dat filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/icu/common/icudtl.dat filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/sqlite/amalgamation/sqlite3.c filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/icu/windows/icudt.dll filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/sfntly/src/cpp/ext/redist/cmake-2.8.5-win32-x86.zip filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/sfntly/src/cpp/ext/redist/icu4c-4_6_1-Win32-msvc10.zip filter=lfs diff=lfs merge=lfs -text
qtwebengine/src/3rdparty/chromium/third_party/swiftshader/third_party/LLVM/lib/Target/X86/X86GenDisassemblerTables.inc filter=lfs diff=lfs merge=lfs -text
qtxmlpatterns/tests/auto/3rdparty/testsuites/XQTS/ReportingResults/XQTSReport.html filter=lfs diff=lfs merge=lfs -text
qtxmlpatterns/tests/auto/3rdparty/testsuites/XQTS/XQTSCatalog.xml filter=lfs diff=lfs merge=lfs -text
